body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  margin: auto;
  text-align: center;
}

.img {
  margin: auto;
  padding: 20px;
}

img {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 501px) {
  .container {
    display: flex;
    align-content: space-around;
  }
}
